[submodule "vendor/iw-cjson"]
	path = vendor/iw-cjson
	url = ../iw-cjson
[submodule "vendor/iw-docbook2mdoc"]
	path = vendor/iw-docbook2mdoc
	url = ../iw-docbook2mdoc
[submodule "vendor/iw-libev"]
	path = vendor/iw-libev
	url = ../iw-libev
[submodule "vendor/iw-sqlite"]
	path = vendor/iw-sqlite
	url = ../iw-sqlite
